name: Java CI with Gradle

on:   
  push:
    branches: [ "branch_1", "master"]
  pull_request:
    branches: [ "branch_1"]

jobs:        
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
      
    - name: Make Gradle Wrapper script executable
      run: chmod +x ./gradlew
      
    - name: Build with Gradle
      uses: gradle/gradle-build-action@749f47bda3e44aa060e82d7b3ef7e40d953bd629
      with:
        arguments: build -x test
        

  test-environment:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Make Gradle Wrapper script executable
      run: chmod +x ./gradlew
    - name: Run Test Job 1
      run: |
        echo "Running contextLoads..."
        ./gradlew test --tests 'com.example.devops_uppg_4.DevopsUppg3ApplicationTests'

  unit-test:
    runs-on: ubuntu-latest
    needs: [build, test-environment]
    
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Make Gradle Wrapper script executable
      run: chmod +x ./gradlew
    - name: Run Test Job 2
      run: |
        echo "Running unit tests..."
        ./gradlew test --tests 'com.example.devops_uppg_4.TodoServiceTest'

  integration-test:
    runs-on: ubuntu-latest
    needs: [build, unit-test]
    
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Make Gradle Wrapper script executable
      run: chmod +x ./gradlew
    - name: Run Test Job 3
      run: |
        echo "Running integration tests..."
        ./gradlew test --tests 'com.example.devops_uppg_4.TodoControllerTest'
